@charset "utf-8";
/* Loading背景画面設定*/
#splash {
    /*fixedで全面に固定*/
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 9999;
}

.load {
    width: 100%;
    height: 100vh;
    position: relative;
}

.load img {
    width: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-fill-mode: forwards;
}

.load1 {
    animation: load1 1s infinite;
}

@keyframes load1 {
    0% {
        opacity: 1;
    }

    24% {
        opacity: 1;
    }

    25% {
        opacity: 0;
    }

    99% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.load2 {
    animation: load2 1s infinite;
}

@keyframes load2 {
    0% {
        opacity: 0;
    }

    24% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    49% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.load3 {
    animation: load3 1s infinite;
}

@keyframes load3 {
    0% {
        opacity: 0;
    }

    49% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    74% {
        opacity: 1;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.load4 {
    animation: load4 1s infinite;
}

@keyframes load4 {
    0% {
        opacity: 0;
    }

    74% {
        opacity: 0;
    }

    75% {
        opacity: 1;
    }

    99% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.text {
    font-size: 40px;
    text-align: center;
    padding-top: 450px;
    height: 800px;
    background-color: var(--bg-color);
}
